body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: #F7F9FB;
    .extraPadding{
        padding: 0 5.25% 0 5.25%;
    }
    h1 {
        font-size: 29px;
        font-weight: 600;
        color: #000000;
        line-height: 1.5;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: #000000;
    }
h3{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}
    h5 {
        font-size: 24px;
        color: #333333;
        font-weight: 600;
    }

    h6 {
        font-size: 20px;
        color: #556575;
        font-weight: 400;
    }

    .colorText {
        color: #46AAA8;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: #556575;
        img{
            height: 20px !important;
        }
    }

    .smallText {
        font-size: 16px;
        font-weight: 400;
    }

    .button {
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        background: #16264B;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        text-transform: capitalize;
        border: none;
        padding: 7px 19px;
    }

    .button:hover {
        color: #FFFFFF;
    }

    .btn:focus,
    .btn.focus {
        outline: 0;
        box-shadow: none;
    }
    .navbarButton{
        background: #FFFFFF;
        color: #333333;
    }
    .navbarButton:hover{
        color: #333333;
    }
}

// ============== Nav Bar Start ==============

#navBar{
    .navbar-nav .nav-link{
        padding: 0.5rem 1.5rem;
        color: #000000;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }
    .navbar-brand{
        color: #1C1C1C;
        font-weight: 700;
        font-size: 28px;
    }
}
// ============== Nav Bar End ==============

// ============== Banner Start ==============
#banner{
    .bannerLeft{
        margin-left: 5rem;
        .banner-description{
            color: #000000;
        }
        input{
            width: 61%;
            background: #FFFF;
            border: 1px solid #E7E7E7;
            padding: 28px;
            ::placeholder{
                color: #333333;
                font-size: 19px;
                font-weight: 300;
            }
        }
        .bannerForm{
            button{
                width: 32%;
                padding: 15px 0;
                text-transform: uppercase;
                background: #344B66;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
            }
            
        }
    }
    .topRate{
        color: #181616;
        font-weight: 400;
    }
    .bannerRight{
        margin-left: 6rem;
    }
}

// ============== Banner End ==============

// ===============featuredIn Start===========

#featuredIn{
    .featured{
        // margin: 0 auto;
        h5{
            color: #556575;
            font-size: 18px;
        }
    }
    .feturedImg{
        margin: 0 auto;
        img{
            width: 190px;
        }
    }
}


// ===============featuredIn End===========

// ===============premeumWork Start===========

#premeumWork{
    .card-deck{
        .card{
            border: none;
            h3{
                font-size: 14px;
            }
            p{
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

// ===============premeumWork End===========

// ===============Our Program Start=========
#ourProgram{
    .programElement{
        margin: 0 auto;
        width: 75%;
    }
    .element-separator{
        width: 47.5%;
        background: #344B66;
        h5{
            font-size: 20px;
            color: #fff;
        }
        
    }
    .techwayRight{
        position: relative;
    }
    .playBtn{
        height: 100px;
        width: 100px;
        background: rgba(255, 255, 255,.5);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        cursor: pointer;
        i{
            color: #46AAA8;
            font-size: 45px;
            line-height: 100px;
        }
}
.techwayLeft{
    h2{
        line-height: 1.5;
    }
}
}
// ===============Our Program End===========

