body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: #FFF;
    .extraPadding{
        padding: 0 5.25% 0 5.25%;
    }
    a{
        color: #000;
    }
    a:hover{
        text-decoration: none;
        color: #000;
    }
    h1 {
        font-size: 29px;
        font-weight: 600;
        color: #000000;
        line-height: 1.5;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        color: #000000;
    }
h3{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}
    h5 {
        font-size: 24px;
        color: #333333;
        font-weight: 600;
    }

    h6 {
        font-size: 20px;
        color: #556575;
        font-weight: 400;
    }

    .colorText {
        color: #46AAA8;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: #556575;
        img{
            height: 20px !important;
        }
    }

    .smallText {
        font-size: 16px;
        font-weight: 400;
    }

    .button {
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        background: #16264B;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        text-transform: capitalize;
        border: none;
        padding: 7px 19px;
    }

    .button:hover {
        color: #FFFFFF;
    }

    .btn:focus,
    .btn.focus {
        outline: 0;
        box-shadow: none;
    }
    .navbarButton{
        background: #FFFFFF;
        color: #333333;
    }
    .navbarButton:hover{
        color: #333333;
    }
}

// ============== Nav Bar Start ==============

#navBar{
    background: #F7F9FB;
    .navbar-nav .nav-link{
        padding: 0.5rem 1.5rem;
        color: #000000;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }
    .navbar-brand{
        color: #1C1C1C;
        font-weight: 700;
        font-size: 28px;
    }
}
// ============== Nav Bar End ==============

// ============== Banner Start ==============
.banner{
    background: #F7F9FB;
    .extraMarginbyPadding{
        padding: 3rem 0;
    }
    .bannerLeft{
        margin-left: 5rem;
        .banner-description{
            color: #000000;
        }
        input{
            width: 61%;
            background: #FFFF;
            border: 1px solid #E7E7E7;
            padding: 28px;
            ::placeholder{
                color: #333333;
                font-size: 19px;
                font-weight: 300;
            }
        }
        .bannerForm{
            button{
                width: 32%;
                padding: 15px 0;
                text-transform: uppercase;
                background: #344B66;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
            }
            
        }
    }
    .topRate{
        color: #181616;
        font-weight: 400;
    }
    .bannerRight{
        margin-left: 6rem;
    }
}

// ============== Banner End ==============

// ===============featuredIn Start===========

#featuredIn{
    background: #F7F9FB;
    .featured{
        // margin: 0 auto;
        h5{
            color: #556575;
            font-size: 18px;
        }
    }
    .feturedImg{
        margin: 0 auto;
        img{
            width: 190px;
        }
    }
}


// ===============featuredIn End===========

// ===============premeumWork Start===========

#premeumWork{
    .card-deck{
        .card{
            border: none;
            h3{
                font-size: 14px;
            }
            p{
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

// ===============premeumWork End===========

// ===============Our Program Start=========
#ourProgram{
    .programElement{
        margin: 0 auto;
        width: 75%;
    }
    .element-separator{
        width: 47.5%;
        background: #344B66;
        h5{
            font-size: 20px;
            color: #fff;
        }
        
    }
    .techwayRight{
        position: relative;
    }
    .playBtn{
        height: 100px;
        width: 100px;
        background: rgba(255, 255, 255,.5);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        cursor: pointer;
        i{
            color: #46AAA8;
            font-size: 45px;
            line-height: 100px;
        }
}
.techwayLeft{
    h2{
        line-height: 1.5;
    }
}
}
// ===============Our Program End===========

// ===============successStory Start===========

#successStory{
    .story{
        font-size: 18px;
        color: #556575;
    }
    .story::before{
    content: "";
  background: url('../images/success-stories-bg.png');
  background-repeat: no-repeat;
  opacity: 0.1;
  top: -10%;
  left: 3.2%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
    }

    .stufBrif{
        color: #161616;
    }
    .card-deck{
        .card{
            box-shadow: 0px 0px 30px #dbdbdb;
            border: 1px solid #dbdbdb;

            .card-title{
                font-size: 15px;
                color: #333333;
                i{
                    color: #46AAA8;
                }
            }
        }
    }
}

// ===============successStory End===========

// ===============Empolye Start===========/
#employmentMarket{
    h2{
        line-height: 1.7;
    }
    .eployLeft{
        // background: red;
        box-shadow: 0px 0px 10px #dbdbdb;
        h2{
            line-height: 1.7;
        }
        p{
            line-height: 1.8;
        }
    }
    .eployRight{
        p{
            font-size: 15px;
            color: #556575;
        }
        .eployBorder{
            font-size: 16px;
            color: #333333;
            border-left: 5px solid #15BA8B;
        }
    }
    .employDownRight{
        
        p{
            font-size: 15px;
        }
        ul{
            div{
                li{
                font-size: 13.5px;
                line-height: 2;
                color: #000;
            }
                img{
                    height: 14px;
                }
            }
        }
        .textMedium{
            li{
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
    
}

// ===============Empolye End===========/

// ===============Footer Start===========/
.footer{
    h1{
        font-size: 27px;
    }
    .bannerForm{
        .footerBtn{
        background: #46AAA8 !important;
    }
    
}
.career{
    font-size: 20px;
    color: #010101;
}
.footerRight{
    ul div{
        img{
            height: 17px;
        }
        li{
            font-size: 17px;
            line-height: 2.5;
            color: #000;
            font-weight: 500;
        }
    }
}
.divSeparetor{
    height: 1px;
    width: 83%;
    background: #707070;
    opacity: 30%;
    margin-left: 7.5%;
}
.footerLink{
    ul li{
        font-size: 16px;
        color: #000000;
        font-weight: 500;
        line-height: 2;
    }
}
.copyright{
    small{
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }
}
}
// ===============Footer End===========/

